<!-- <p>{{ _('Powered by %(pelican_url)s - %(flex_url)s theme by %(alexandrevicenzi_url)s',
  pelican_url='<a href="http://getpelican.com" target="_blank">Pelican</a>',
  flex_url='<a href="https://github.com/alexandrevicenzi/flex" target="_blank">Flex</a>'|safe,
  alexandrevicenzi_url='<a href="http://alexandrevicenzi.com" target="_blank">Alexandre Vicenzi</a>'|safe) }}</p> -->

<p>{{ _('Built with %(pelican_url)s - %(flex_url)s theme powered by %(python_url)s',
pelican_url='<a href="http://getpelican.com" target="_blank">Pelican</a>',
flex_url='<a href="https://github.com/alexandrevicenzi/flex" target="_blank">Flex</a>'|safe,
python_url='<a href="http://python.org" target="_blank">Python</a>'|safe) }}</p>
